@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

p,
li,
ul,
ol {
  @apply font-martina text-base;
}

ol { @apply list-decimal }
p {
  @apply mb-3;
}

p a {
	@apply border-dotted border-b-blue border-b hover:text-blue;
}

h1 {
  @apply font-boogy text-2xl mb-5;
}

h2 {
  @apply font-martina text-base pb-1 border-b border-black mb-3;
}

h3 {
  @apply font-martina text-base uppercase tracking-wider mb-3;
}

h4 {
  @apply font-martina text-xs uppercase tracking-widest mb-1;
}