@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

h2,
h3,
h4 {
    @apply font-boogy text-2xl;
}