@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-visual-editor__post-title-wrapper h1 {
    @apply text-base font-martina text-left;
}

html[lang=ar] .editor-visual-editor__post-title-wrapper h3 {
    @apply text-lg;
}
